<a href="https://colab.research.google.com/github/bhumika8989/python-/blob/master/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1

In [2]:
 num1 = 10
num2 = 14
num3 = 12
if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3
 
print("The largest number is", largest)

The largest number is 14

2..

In [3]:
 def my_function(x):
  return x[::-1]
 
mytxt = my_function("I wonder how this text looks like backwards")
 
print(mytxt)

sdrawkcab ekil skool txet siht woh rednow I

3

In [4]:
 
num = int(input("Enter a number: "))  
  
if num > 1:  
   for i in range(2,num):  
       if (num % i) == 0:  
           print(num,"is not a prime number")  
           print(i,"times",num//i,"is",num)  
           break  
   else:  
       print(num,"is a prime number")  
         
else:  
   print(num,"is not a prime number")

Enter a number: 4
4 is not a prime number
2 times 2 is 4

4

5

In [5]:
 
def squaresum(n) : 
 
 
    sm = 0
 
    for i in range(1, n+1) : 
 
        sm = sm + (i * i) 
 
      
 
    return sm
 
 
n = 4
 
print(squaresum(n))

30